<header [style]="{'width':'100%', 'background-color':'blue','color':'white','height':'20vh','padding':'10px'}">
  <h1>Menu</h1>
  <nav>
    <a [style]="{'color':'white'}" [routerLink]="[ '/crew-list' ]">Crew Page</a>
    &nbsp;
    <a [style]="{'color':'white'}" [routerLink]="[ '/test' ]">Test Page</a>
  </nav>
</header>



<router-outlet />


<footer
  [style]="{'width':'100%', 'background-color':'gray','color':'yellow','height':'10vh','padding':'10px','position':'fixed','bottom':'0','text-alight':'center'}">
  <p>Alt bilgi</p>
</footer>